//Mediaqueries
$mq-xs: 400px;
$mq-md: 640px;
$mq-lg: 1025px;

$dark: #000;
$white: #fff;
$text-color: #222;
$card-border: #535353;

$lightbox-border-radius: 3px;
$lightbox-background: rgba(0, 0, 0, .7);